---
import BaseLayoutAstroComponent from "../../layouts/BaseLayout.astro";
import BlogPostAstroComponent from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  );

  return [
    { params: { tag: "astro" }, props: { posts: allPosts } },
    { params: { tag: "successes" }, props: { posts: allPosts } },
    { params: { tag: "community" }, props: { posts: allPosts } },
    { params: { tag: "blogging" }, props: { posts: allPosts } },
    { params: { tag: "setbacks" }, props: { posts: allPosts } },
    { params: { tag: "learning in public" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag),
);
---

<BaseLayoutAstroComponent pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  {
    filteredPosts.map((post: any) => (
      <BlogPostAstroComponent url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayoutAstroComponent>
