---
import BaseLayoutAstroComponent from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayoutAstroComponent pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
</BaseLayoutAstroComponent>
