---
import NavigationAstroComponent from "./Navigation.astro";
import MenuAstroComponent from "./Menu.astro";
---

<header>
  <nav>
    <MenuAstroComponent />
    <NavigationAstroComponent />
  </nav>
</header>
